{% extends "layout.html" %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Add Crousel image link</h1>


        <form name="sentMessage" id="image" action="/crousel/{{sno}}" method="post" novalidate>
          <hr>

          <label><b></b></label>
          <textarea rows="2" class="form-control" placeholder="Insert link here" name="i_link" id="title" required
            data-validation-required-message="Please enter a title.">{{crousel.i_link}}</textarea>

       
          

          <hr>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="image">Sumbit</button>


          </div>
        </form>











        <!-- Pager -->
      </div>
    </div>
  </div>
  </div>

  {% endblock %}