{% extends "layout.html" %}
{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Add/Edit Posts</h1>


        <form name="sentMessage" id="image" action="/image/{{sno}}" method="post" novalidate>
          <hr>

          <label><b></b></label>
          <textarea rows="2" class="form-control" placeholder="Insert link here" name="image" id="title" required
            data-validation-required-message="Please enter a title.">{{image.img_link}}</textarea>

          <!--  <input class="form-control form-control-lg" type="text" id ="title" name ="title" placeholder="Add Title Here" value = "{{post.title}}"> -->
          

          <hr>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="image">Sumbit</button>


          </div>
        </form>











        <!-- Pager -->
      </div>
    </div>
  </div>
  </div>

  {% endblock %}